#help_button {
    border-radius: 5px;
    color: white;
    background-color: #0f0f0fdf;
    border: none;
}

#help_button:hover {
    background-color: #2a2a2adf;
}

#help {
    display: none;
    font-size: 2rem;
    height: 100vh;
    max-width: 35rem;
    padding: 0 5rem 10rem 5rem;
    position: absolute;
    z-index: 1;
    background-color: #3f3f3fdf;
    overflow-y: scroll;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#help>h2 {
    margin: 2rem;
}

#help>#bottom {
    height: 30rem;
}