.projects-and-visibility-wrapper {

    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    user-select: none;
    pointer-events: none;
}

#projects {
    position: relative;
    z-index: 3;

    width: fit-content;
    height: fit-content;
    display: flex;
    text-wrap: nowrap;
    pointer-events: all;

    /* position: absolute; */
}

/* @media (min-aspect-ratio: 6/5) {
    #projects {
        left: 20%;
    }
} */

#projects>div {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 1px solid #707070;
    border-top: 0;
    width: fit-content;
    background-color: #efefef;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transform: translateY(-15%);
    z-index: 0;
    user-select: none;

    font-family: Lato;
    font-size: 2rem;
}

#projects>div:hover {
    background-color: #dfdfdf;
}

#projects>div[selected="1"] {
    transform: translateY(0);
    background-color: #ffcfcf;
}

#projects>#add_new {
    color: white;
    background-color: #0f0f0fdf;
}

#projects>div>input {
    font-family: Lato;
    text-align: center;
    padding: 0;
    border: none;
    background-color: #ffffff5f;
    font-size: 2rem;
    outline: none;
    width: 10rem;
}

#context_menu {
    position: absolute;
    z-index: 2;
    background-color: #0f0f0fdf;
    display: none;
    flex-direction: column;
    font-family: Lato;
    padding: 0.5rem;
    /* outline: #ffcfcf 0.1rem solid; */
}

#context_menu>div {
    font-size: 2rem;
    padding: 0.5rem 3rem;
    text-align: center;
    color: white;
}

#context_menu>div:hover {
    background-color: #5f5f5fdf;
    cursor: pointer;
}

#visibility {
    position: relative;
    z-index: 3;

    width: 5rem;
    aspect-ratio: 1;
    margin: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 10px 10px 0;
    background-color: #0f0f0fdf;
    color: white;

    pointer-events: all;
    cursor: pointer;
}

#visibility:hover {
    background-color: #2a2a2adf;
}

#visibility>img {
    height: 80%;
    width: 80%;
    text-align: center;
    font-size: 1.8rem;
    font-family: Lato;
    transform: translateX(-5%);
}

.white-filter {
    filter: invert(100%) sepia(1%) saturate(3354%) hue-rotate(337deg) brightness(114%) contrast(100%);
}