.script-wrapper {

    min-width: 30rem;

    display: none;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
}

.menu-wrapper>.script-wrapper>p,
.script-doc {
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
    color: #6f6f6f;
    margin-bottom: 1rem;
}

.script-wrapper>button {
    width: 25rem;
}

.script-wrapper>hr {
    width: 100%;
}

#internal-script {

    margin: 1rem 0;
    min-height: 20rem;
    width: fit-content;
    resize: none;

    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: none;
    border: 1px solid #7f7f7f;

    font-size: 2rem;
    font-family: Lato;
    color: #2f2f2f;
    text-wrap: nowrap;
}

#internal-script:focus {
    outline: 2px solid #afafcf;
}

#internal-console {
    width: 30rem;
    min-height: 5rem;
    max-height: 20rem;

    border: 1px solid #3f3f3f;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem;
    text-wrap: wrap;
    overflow: scroll;

    background-color: #efdfcf;
    color: black;
}

.script-doc {
    max-width: 40rem;
    font-size: 2rem;
    text-align: left;
    color: #3f3f3f;
}

.script-doc li {
    margin: 1rem;
}

.gap {
    height: 3rem;
}