.script-wrapper {

    min-width: 30rem;
    /* max-width: 50rem; */

    display: none;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
}

.menu-wrapper>.script-wrapper>p,
.script-doc {
    width: 100%;
    max-width: 45rem;
    text-align: center;
    font-size: 1.75rem;
    color: #6f6f6f;
    margin-bottom: 1rem;
}

.script-wrapper>button {
    width: 25rem;
}

.script-wrapper>hr {
    width: 100%;
}

#script-textarea-wrapper {

    position: relative;
    margin: 1rem 0;
    min-height: 20rem;
    /* width: 90%;
    height: 60rem; */

    border-radius: 5px;
    border: 1px solid #7f7f7f;

    color: #2f2f2f;
    background-color: white;
    overflow: hidden;

}

#internal-script {

    /* resize: none; */
    max-width: 125rem;
    min-width: 40rem;
    min-height: 30rem;
    border: none;
    background-color: #ffffff00;

    text-wrap: nowrap;
    font-size: 2rem;
    font-family: monospace;

    color: transparent;
    caret-color: black;

}

#internal-script:focus {
    outline: none;
}

#internal-script::selection {
    background-color: #5f5fff8f;
}

#internal-script-display {
    position: absolute;
    top: 0;
    left: 0;

    /* height: 100%; */
    /* width: 100%; */
    pointer-events: none;
}

#internal-script,
#internal-script-display {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0;
}

#internal-console {
    width: 30rem;
    min-height: 5rem;
    max-height: 20rem;

    border: 1px solid #3f3f3f;
    border-radius: 5px;
    font-size: 2rem;
    padding: 1rem;
    text-wrap: wrap;
    overflow: scroll;

    background-color: #efdfcf;
    color: black;
    transition: all 300ms;
}

.script-doc {
    max-width: 40rem;
    font-size: 2rem;
    text-align: left;
    color: #3f3f3f;
}

.script-doc li {
    margin: 1rem;
}

.gap {
    height: 3rem;
}